@if(opened) {
    <div class="drawer w-full h-full fixed top-0 left-0 z-40">
        <div class="overlay absolute top-0 left-0 w-full z-10 bg-primary-300 opacity-50 h-full" aria-hidden="true" role="region" (click)="toggle.emit()"></div>
        <div class="sidenav absolute z-20  pl-5 pr-20 top-0 left-0 w-auto h-full bg-primary-50 text-primary-900 sm:hidden dark:bg-primary-900 dark:text-primary-50" @moveLeft>
            <app-toggle-btn (toggle)="toggle.emit()"/>
            <app-nav-item [menus]="menus"/>
        </div>
    </div>
}