<div class="footer bg-primary-50 border-t-primary-300 border border-solid text-primary-700 dark:bg-primary-900 dark:text-primary-50 dark:border-t-primary-700">
    <div class="container mx-auto px-4">
        <footer class="py-3">
            <ul class="flex justify-center border-bottom pb-3 mb-3">
                @for( item of data.items; track item.id) {
                    <li class="nav-item"><a [routerLink]="item.path" class="nav-link px-2">{{ item.label }}</a></li>
                }
            </ul>
            <p class="text-center">{{ data.copyrightLink }} {{ data.copyrightText }}</p>
        </footer>
    </div>
</div>