<div id="layout" cdkScrollable class="max-h-screen min-h-screen h-screen bg-primary-800 overflow-y-auto overflow-x-hidden" [ngClass]="themeMode">
    @if(isMobile$ | async) {
        @if (menus$ | async; as menus ) {
            <app-side-drawer [menus]="menus" [opened]="isOpen" (toggle)="toggleNav()"  (themeToggle)="toggleTheme()" />
        }
    }
    <div id="layout__content"  class="bg-primary-50 dark:bg-primary-800 dark:text-primary-50">
        @if (menus$ | async; as menus ) {
            <app-navigation #toolbar [appName]="appName" [menus]="menus" (toggle)="toggleNav()" (themeToggle)="toggleTheme()" [className]="navigationClass" [themeMode]="themeMode"/>
        }
        <div id="layout__content__main" class="min-h-screen">
            <router-outlet></router-outlet>
        </div>
        <div class="layout__content__footer">
            @if (footer$ | async; as footerState ) {
                <app-footer [data]="footerState" />
            }
        </div>
    </div>
</div>