<mat-sidenav-container class="layout" [ngClass]="mainClass">
  <mat-sidenav-content class="content" cdkScrollable>
    <mat-drawer class="drawer" mode="side" position="end" [opened]="isOpen">
      <div class="menu">
        <div class="items">
          <app-nav-items [state]="state" [mainClass]="mainClass"></app-nav-items>
        </div>
      </div>
    </mat-drawer>
    <div class="toolbar" [ngClass]="toolBarClass">
      <app-mat-toolbar
        [state]="state"
        (toggleNav)="toggleNav()"
        [mainClass]="mainClass"
        [isMobile]="isMobile"
        [isOpen]="isOpen"
      ></app-mat-toolbar>
    </div>
    <div class="main">
      <router-outlet #outlet="outlet"></router-outlet>
      <div class="footer">
        <app-footer [data]="state.footer" [mainClass]="mainClass"></app-footer>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
