@import './../../../../../styles//scss/main';

.hero {
    .hero_image {

        img {
            border-radius: 50%;
            width: 500px;
            height: 500px;
        }
    }

    &.is-mobile {
        .hero_image {
            display: none;
        }
    }
}
