<div class="hero container col-xxl-8 px-4 py-5" [ngClass]="pageClass">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="hero_image col-10 col-sm-8 col-lg-6">
      <img
        [src]="data.image"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ data.header }}</h1>
      <h1>{{ data.title }}</h1>
      <p class="lead">
        {{ data.text }}
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button mat-raised-button color="primary">{{ data.cta }}</button>
        <button mat-raised-button color="accent">{{ data.cta2 }}</button>
      </div>
    </div>
  </div>
</div>
