@import './../../../../styles/scss/main';

.footer {
    color: $brand-200;

    ul {
        display: flex;
        list-style: none;

        li a {
            color: $brand-200;
        }
    }

    &.is-mobile {

    }

}



