<div class="fixed h-16 z-30 w-full" [ngClass]="className">
  <div class="container mx-auto px-4 h-full">
    <div class="flex items-center justify-between gap-5 sm:justify-between h-full">
      <app-toggle-btn (toggle)="toggle.emit()"/>
      <app-brand [appName]="appName" />
      <app-nav-item class="hidden sm:flex items-center justify-end w-full" [menus]="menus"/>
      <div class="flex justify-center items-center gap-5 ml-2">
        <app-theme-toggle (toggle)="themeToggle.emit()" />
        <app-profile [userProfile]="userProfile" />
      </div>
    </div>
  </div>
</div>