<div class="fixed h-16 z-30 w-full" [ngClass]="className">
  <div class="container mx-auto px-4 h-full">
    <div class="flex items-center justify-start sm:justify-between h-full">
      <div class="md:hidden">
        <button mat-icon-button class="" (click)="toggle.emit()" aria-label="Toggle menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <app-brand [appName]="appName" />
      <app-nav-item class="hidden sm:block w-full" [menus]="menus" (themeToggle)="themeToggle.emit()" [themeMode]="themeMode"/>
    </div>
  </div>
</div>